<a href="https://colab.research.google.com/github/ruedas91/FinTechruedas/blob/main/GC_predicting_employee_attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.

3. Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [ ]:
# Upload HR-Employee-Attrition.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving HR-Employee-Attrition.csv to HR-Employee-Attrition.csv

In [ ]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = pd.read_csv("HR-Employee-Attrition.csv")

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [ ]:
# Review the DataFrame
employee_df.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]

In [ ]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [ ]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [ ]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

   Attrition_No  Attrition_Yes  ...  OverTime_No  OverTime_Yes
0           0.0            1.0  ...          0.0           1.0
1           1.0            0.0  ...          1.0           0.0
2           0.0            1.0  ...          0.0           1.0
3           1.0            0.0  ...          0.0           1.0
4           1.0            0.0  ...          1.0           0.0

[5 rows x 31 columns]

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [ ]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   Age  DailyRate  ...  YearsSinceLastPromotion  YearsWithCurrManager
0   41       1102  ...                        0                     5
1   49        279  ...                        1                     7
2   37       1373  ...                        0                     0
3   33       1392  ...                        3                     0
4   27        591  ...                        2                     2

[5 rows x 26 columns]

In [ ]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

   Age  DailyRate  DistanceFromHome  ...  Over18_Y  OverTime_No  OverTime_Yes
0   41       1102                 1  ...       1.0          0.0           1.0
1   49        279                 8  ...       1.0          1.0           0.0
2   37       1373                 2  ...       1.0          0.0           1.0
3   33       1392                 3  ...       1.0          0.0           1.0
4   27        591                 2  ...       1.0          1.0           0.0

[5 rows x 57 columns]

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [ ]:
# Define the target set y using the Attrition_Yes column
y = attition_df["Attrition_Yes"]

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [ ]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attition_df.drop(columns=["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X.head()

   Age  DailyRate  DistanceFromHome  ...  Over18_Y  OverTime_No  OverTime_Yes
0   41       1102                 1  ...       1.0          0.0           1.0
1   49        279                 8  ...       1.0          1.0           0.0
2   37       1373                 2  ...       1.0          0.0           1.0
3   33       1392                 3  ...       1.0          0.0           1.0
4   27        591                 2  ...       1.0          1.0           0.0

[5 rows x 55 columns]

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [ ]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2: Display the structure of your model using the `summary` function.

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 28)                1568
_________________________________________________________________
dense_1 (Dense)              (None, 14)                406
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 15
=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [ ]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [ ]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 2ms/step - loss: 0.6825 - accuracy: 0.5771
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5135 - accuracy: 0.8485
Epoch 3/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4264 - accuracy: 0.8494
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3793 - accuracy: 0.8539
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8621
Epoch 6/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3255 - accuracy: 0.8684
Epoch 7/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3059 - accuracy: 0.8793
Epoch 8/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2893 - accuracy: 0.8920
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2768 - accuracy: 0.9002
Epoch 10/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2664 - accuracy: 0.9002
Epoch 11/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2574 - accuracy: 0.9047
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2487 - accuracy: 0.9102
Epoch 13/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2408 - accuracy: 0.9120
Epoch 14/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2336 - accuracy: 0.9165
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2275 - accuracy: 0.9174
Epoch 16/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2218 - accuracy: 0.9229
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2149 - accuracy: 0.9238
Epoch 18/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2090 - accuracy: 0.9283
Epoch 19/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2038 - accuracy: 0.9283
Epoch 20/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1991 - accuracy: 0.9283
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1927 - accuracy: 0.9328
Epoch 22/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1878 - accuracy: 0.9338
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1832 - accuracy: 0.9374
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1768 - accuracy: 0.9401
Epoch 25/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1725 - accuracy: 0.9410
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1670 - accuracy: 0.9419
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1614 - accuracy: 0.9465
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1564 - accuracy: 0.9483
Epoch 29/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1521 - accuracy: 0.9456
Epoch 30/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1460 - accuracy: 0.9501
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1416 - accuracy: 0.9519
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1378 - accuracy: 0.9601
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1326 - accuracy: 0.9628
Epoch 34/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1277 - accuracy: 0.9637
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1235 - accuracy: 0.9619
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1190 - accuracy: 0.9655
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1139 - accuracy: 0.9701
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9701
Epoch 39/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1049 - accuracy: 0.9701
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1014 - accuracy: 0.9710
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0978 - accuracy: 0.9710
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0931 - accuracy: 0.9737
Epoch 43/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0896 - accuracy: 0.9737
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0863 - accuracy: 0.9773
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0823 - accuracy: 0.9764
Epoch 46/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0786 - accuracy: 0.9791
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0756 - accuracy: 0.9791
Epoch 48/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0722 - accuracy: 0.9782
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0702 - accuracy: 0.9800
Epoch 50/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0692 - accuracy: 0.9809
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0644 - accuracy: 0.9837
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0612 - accuracy: 0.9855
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0585 - accuracy: 0.9855
Epoch 54/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0565 - accuracy: 0.9846
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0528 - accuracy: 0.9864
Epoch 56/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0504 - accuracy: 0.9882
Epoch 57/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0479 - accuracy: 0.9891
Epoch 58/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0451 - accuracy: 0.9891
Epoch 59/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0432 - accuracy: 0.9909
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0416 - accuracy: 0.9909
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0386 - accuracy: 0.9918
Epoch 62/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0363 - accuracy: 0.9918
Epoch 63/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0350 - accuracy: 0.9927
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0330 - accuracy: 0.9936
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0315 - accuracy: 0.9946
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9936
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0281 - accuracy: 0.9955
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0267 - accuracy: 0.9955
Epoch 69/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0252 - accuracy: 0.9964
Epoch 70/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0240 - accuracy: 0.9973
Epoch 71/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0222 - accuracy: 0.9973
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0211 - accuracy: 0.9982
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0203 - accuracy: 0.9982
Epoch 74/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0191 - accuracy: 0.9982
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0181 - accuracy: 0.9982
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0168 - accuracy: 0.9982
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0162 - accuracy: 0.9982
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0154 - accuracy: 0.9982
Epoch 79/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0150 - accuracy: 0.9982
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0141 - accuracy: 0.9982
Epoch 81/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0132 - accuracy: 0.9982
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0127 - accuracy: 0.9982
Epoch 83/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0117 - accuracy: 0.9982
Epoch 84/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0112 - accuracy: 0.9982
Epoch 85/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0106 - accuracy: 0.9991
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0100 - accuracy: 0.9982
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0096 - accuracy: 0.9991
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0093 - accuracy: 0.9991
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0088 - accuracy: 0.9991
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0083 - accuracy: 0.9991
Epoch 91/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0079 - accuracy: 0.9991
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0074 - accuracy: 0.9991
Epoch 93/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0069 - accuracy: 0.9991
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0066 - accuracy: 0.9991
Epoch 95/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0063 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0054 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0052 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0049 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.0321 - accuracy: 0.8424
Loss: 1.0321438312530518, Accuracy: 0.842391312122345

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [ ]:
# Set the model's file path
file_path = "employee_attrition.h5"

# Export your model to a HDF5 file
nn.save(file_path)